ICP 5/Code/Node RED Code
[{"id":"d2282ed6.c9673","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2f94cdcb.ae7e52","type":"twitter-credentials","z":"","screen_name":"DD93599151"},{"id":"d1b917d0.9f8b68","type":"inject","z":"d2282ed6.c9673","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":160,"wires":[["965a5cb2.b558f"]]},{"id":"965a5cb2.b558f","type":"openweathermap","z":"d2282ed6.c9673","name":"","wtype":"current","lon":"-94.58","lat":"39.1","city":"","country":"","language":"en","x":350,"y":160,"wires":[["f771d17a.58bbf"]]},{"id":"f771d17a.58bbf","type":"function","z":"d2282ed6.c9673","name":"extractTweetMessage","func":"var lat = msg.location.lat;\nvar lon = msg.location.lon;\nvar description = msg.payload.description;\n\nvar reply = \"#KansasCity weather update: The weather in Kansas City at coordinates \"+lat+\" \"+lon+\"  is \"+description+\".\";\n\nmsg.payload = reply;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":280,"wires":[["52f9ea3b.cb11f4","6c2fffa6.57605"]]},{"id":"52f9ea3b.cb11f4","type":"twitter out","z":"d2282ed6.c9673","twitter":"2f94cdcb.ae7e52","name":"Tweet","x":680,"y":360,"wires":[]},{"id":"6c2fffa6.57605","type":"debug","z":"d2282ed6.c9673","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":680,"y":200,"wires":[]}]
