Project/nodered
[{"id":"dfd47f3d.aba75","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"191f6a5b.87c8a6","type":"inject","z":"dfd47f3d.aba75","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":40,"wires":[["1a939085.95669f"]]},{"id":"36e1ba28.4563d6","type":"openweathermap","z":"dfd47f3d.aba75","name":"","wtype":"current","lon":"-94.58","lat":"39.1","city":"","country":"","language":"en","x":610,"y":160,"wires":[["86cc3a12.1b4e98"]]},{"id":"86cc3a12.1b4e98","type":"function","z":"dfd47f3d.aba75","name":"extractMessage","func":"var lat = msg.location.lat;\nvar lon = msg.location.lon;\nvar description = msg.payload.weather;\nvar temp = (msg.payload.tempc*9/5)+32;\n\nmsg.payload = \"The current weather is \"+description+\" and the current temperature is \"+temp+\" fahrenheit.\";\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":160,"wires":[["2ee7523f.8f450e"]]},{"id":"1a939085.95669f","type":"simpletime","z":"dfd47f3d.aba75","name":"","x":210,"y":120,"wires":[["764bb904.5114b8"]]},{"id":"e218b2fb.3650d","type":"function","z":"dfd47f3d.aba75","name":"extractTime","func":"var time = \"It is \"+msg.myhourpm+\" \"+msg.myminute+\" \"+msg.mypm+\" on \"+msg.myday+\" \"+msg.mydom+\" \"+msg.mymonth+\" \"+msg.myyear;\n\nmsg.payload = time;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":40,"wires":[["d151d696.87e938"]]},{"id":"d6f3286c.899008","type":"switch","z":"dfd47f3d.aba75","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"53500","vt":"str"},{"t":"eq","v":"53500","vt":"str"},{"t":"eq","v":"53500","vt":"str"},{"t":"neq","v":"53500","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":190,"y":280,"wires":[["5de1d72e.6ac058"],["150f35db.7b8eba"],["36e1ba28.4563d6"],["40760ce9.94ecc4"]]},{"id":"764bb904.5114b8","type":"function","z":"dfd47f3d.aba75","name":"simplifyTime","func":"var time = msg.myhourpm+msg.myminute+msg.mysecond;\n\nmsg.payload = time;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["d6f3286c.899008"]]},{"id":"5de1d72e.6ac058","type":"simpletime","z":"dfd47f3d.aba75","name":"","x":610,"y":40,"wires":[["e218b2fb.3650d"]]},{"id":"150f35db.7b8eba","type":"function","z":"dfd47f3d.aba75","name":"TurnLightOn","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":280,"wires":[["d09f1c6b.12248"]]},{"id":"40760ce9.94ecc4","type":"ui_switch","z":"dfd47f3d.aba75","name":"","label":"switch","tooltip":"","group":"","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":370,"y":400,"wires":[["8898f5f4.e53548"]]},{"id":"8898f5f4.e53548","type":"switch","z":"dfd47f3d.aba75","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":400,"wires":[["c0c9000b.c402c"],["807f3b3f.14f838"]]},{"id":"d09f1c6b.12248","type":"arduino out","z":"dfd47f3d.aba75","name":"","pin":"","state":"","arduino":"","x":870,"y":340,"wires":[]},{"id":"c0c9000b.c402c","type":"function","z":"dfd47f3d.aba75","name":"TurnLightOn","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":360,"wires":[["d09f1c6b.12248"]]},{"id":"807f3b3f.14f838","type":"function","z":"dfd47f3d.aba75","name":"TurnLightOff","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":420,"wires":[["d09f1c6b.12248"]]},{"id":"d151d696.87e938","type":"google-tts","z":"dfd47f3d.aba75","name":"","inputField":"payload","inputFieldType":"msg","outputField":"payload","outputFieldType":"msg","languageField":"en","languageFieldType":"str","speedField":"1","speedFieldType":"num","x":580,"y":100,"wires":[["4a3a3278.18ae0c"]]},{"id":"4a3a3278.18ae0c","type":"ffmpeg-conversion","z":"dfd47f3d.aba75","name":"","format":"wav","audiochannels":"mono","x":770,"y":100,"wires":[["793314d9.35a18c"]]},{"id":"2ee7523f.8f450e","type":"google-tts","z":"dfd47f3d.aba75","name":"","inputField":"payload","inputFieldType":"msg","outputField":"payload","outputFieldType":"msg","languageField":"en","languageFieldType":"str","speedField":"1","speedFieldType":"num","x":580,"y":220,"wires":[["f3c3af05.d773c"]]},{"id":"f3c3af05.d773c","type":"ffmpeg-conversion","z":"dfd47f3d.aba75","name":"","format":"wav","audiochannels":"mono","x":750,"y":220,"wires":[["793314d9.35a18c"]]},{"id":"793314d9.35a18c","type":"arduino out","z":"dfd47f3d.aba75","name":"","pin":"","state":"","arduino":"","x":870,"y":280,"wires":[]}]
