Project/NodeRedCode.txt
[{"id":"2b69406a.7c26c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c1bf8559.af6258","type":"inject","z":"2b69406a.7c26c","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":100,"wires":[["1e2f0d5f.1316b3"]]},{"id":"432f4f8a.baa56","type":"openweathermap","z":"2b69406a.7c26c","name":"","wtype":"current","lon":"-94.58","lat":"39.1","city":"","country":"","language":"en","x":190,"y":320,"wires":[["eb297ad3.88b938"]]},{"id":"eb297ad3.88b938","type":"function","z":"2b69406a.7c26c","name":"extractMessage","func":"var lat = msg.location.lat;\nvar lon = msg.location.lon;\nvar description = msg.payload.weather;\nvar temp = (msg.payload.tempc*9/5)+32;\n\nmsg.payload = \"The current weather is \"+description+\" and the current temperature is \"+temp+\" fahrenheit.\";\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":320,"wires":[["2dc8a2d5.a7883e"]]},{"id":"5a1e8de4.d7ba74","type":"debug","z":"2b69406a.7c26c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":950,"y":380,"wires":[]},{"id":"1e2f0d5f.1316b3","type":"simpletime","z":"2b69406a.7c26c","name":"","x":390,"y":100,"wires":[["5b69ea9a.1b9bb4"]]},{"id":"598d243c.1f800c","type":"function","z":"2b69406a.7c26c","name":"extractTime","func":"var time = \"It is \"+msg.myhourpm+\" \"+msg.myminute+\" \"+msg.mypm+\" on \"+msg.myday+\" \"+msg.mydom+\" \"+msg.mymonth+\" \"+msg.myyear;\n\nmsg.payload = time;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":200,"wires":[["8e6637f4.b8b028"]]},{"id":"2dc8a2d5.a7883e","type":"say","z":"2b69406a.7c26c","name":"","voice":"","x":590,"y":320,"wires":[["5a1e8de4.d7ba74"]]},{"id":"8e6637f4.b8b028","type":"say","z":"2b69406a.7c26c","name":"","voice":"","x":750,"y":200,"wires":[["432f4f8a.baa56"]]},{"id":"99b45474.9b6ce8","type":"switch","z":"2b69406a.7c26c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"43030","vt":"str"},{"t":"eq","v":"43030","vt":"str"},{"t":"neq","v":"43030","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":710,"y":100,"wires":[["340395ee.88915a"],["4058a68c.605168"],["b9dcecb1.ef671"]]},{"id":"5b69ea9a.1b9bb4","type":"function","z":"2b69406a.7c26c","name":"simplifyTime","func":"var time = msg.myhourpm+msg.myminute+msg.mysecond;\n\nmsg.payload = time;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":100,"wires":[["99b45474.9b6ce8"]]},{"id":"340395ee.88915a","type":"simpletime","z":"2b69406a.7c26c","name":"","x":360,"y":200,"wires":[["598d243c.1f800c"]]},{"id":"4058a68c.605168","type":"function","z":"2b69406a.7c26c","name":"","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":140,"wires":[["cd7bfc4a.e1e9e"]]},{"id":"cd7bfc4a.e1e9e","type":"arduino out","z":"2b69406a.7c26c","name":"","pin":"13","state":"OUTPUT","arduino":"dcb9f114.4e9f8","x":1000,"y":100,"wires":[]},{"id":"b9dcecb1.ef671","type":"ui_switch","z":"2b69406a.7c26c","name":"","label":"switch","tooltip":"","group":"cadd11cd.7a37e","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":690,"y":400,"wires":[["ee9b4b.be1664b8"]]},{"id":"ee9b4b.be1664b8","type":"switch","z":"2b69406a.7c26c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":440,"wires":[["cb10337f.df483"],["3962a91.1e9f256"]]},{"id":"cb10337f.df483","type":"function","z":"2b69406a.7c26c","name":"","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":440,"wires":[["d04e9a7c.e1ba48"]]},{"id":"3962a91.1e9f256","type":"function","z":"2b69406a.7c26c","name":"","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":500,"wires":[["3b030e44.b20612"]]},{"id":"d04e9a7c.e1ba48","type":"arduino out","z":"2b69406a.7c26c","name":"","pin":"13","state":"OUTPUT","arduino":"dcb9f114.4e9f8","x":1130,"y":440,"wires":[]},{"id":"3b030e44.b20612","type":"arduino out","z":"2b69406a.7c26c","name":"","pin":"13","state":"OUTPUT","arduino":"dcb9f114.4e9f8","x":1070,"y":500,"wires":[]},{"id":"dcb9f114.4e9f8","type":"arduino-board","z":"","device":"COM4"},{"id":"cadd11cd.7a37e","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false}]