ICP 6/Code/Switch Code
[{"id":"137074bf.05662b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e3bd4901.b9b5e8","type":"inject","z":"137074bf.05662b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":150,"y":220,"wires":[["160c2e39.0eadb2"]]},{"id":"f9b5ed8c.b6491","type":"debug","z":"137074bf.05662b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":220,"wires":[]},{"id":"160c2e39.0eadb2","type":"function","z":"137074bf.05662b","name":"RandomNumberGenerator","func":"msg.payload = Math.round(Math.random()*100);\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":220,"wires":[["f9b5ed8c.b6491","c8124862.7ef5b8"]]},{"id":"c8124862.7ef5b8","type":"switch","z":"137074bf.05662b","name":"SwitchNodeDemo","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"50","vt":"num"},{"t":"eq","v":"50","vt":"str"},{"t":"gt","v":"50","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":420,"y":360,"wires":[["bef1674e.751f08"],["95490e99.3a97"],["25b6eced.d04884"]]},{"id":"25b6eced.d04884","type":"debug","z":"137074bf.05662b","name":"LineThreeForGreaterThan50","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":680,"y":420,"wires":[]},{"id":"bef1674e.751f08","type":"debug","z":"137074bf.05662b","name":"LineOneForLessThan50","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":340,"wires":[]},{"id":"95490e99.3a97","type":"debug","z":"137074bf.05662b","name":"LineTwoFor50","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":720,"y":380,"wires":[]}]
